body {
    background-color: #FAD02E;
    padding: none;
}
.card-header {
    background-color: #359447;
    color: aliceblue;
}
.card-body {
    background-color: rgb(241, 241, 241);
    font-size: 16px;
}
#foot {
    background-color: rgb(241, 241, 241);
}

#secLogo {
    font-size: 80px;
}

.blockquote {
    font-size: 16px;
}

/* Compass styling */
#compass.glow {
  box-shadow: 0 0 15px 5px rgba(138, 43, 226, 0.5); /* Purple glow */
  transition: box-shadow 0.5s ease-in-out;
}